
.appContainer {
    display: flex;
    height: 100vh;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .workspace {
    display: flex;
    flex: 1;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }